.description{
    position: relative;
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    margin-top: 15vw;
    margin-left: 10vw;
    margin-bottom: 100px;
}

.description p{
    position: relative;
    margin: 0px;
    font-weight: 500;
}