.description{
    position: relative;
    font-size: 3vw;
    color: white;
    text-transform: uppercase;
    margin-top: 15vw;
    margin-left: 10vw;
    /* margin-bottom: 1000px; */
}

.description p{
    position: relative;
    margin: 0px;
}