.main {
    position: relative;
    display: flex;
    min-height: 134vh;
    margin-left: 60px;
    margin-bottom: -35vh;
    overflow: hidden;
}

.main img {
    object-fit: cover;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    font-size: 40px;
    padding-left: 40px;
    font-weight: 700;
}

.description {
    font-size: 20px;
}

.intro {
    color: white;
    margin-left: 40px;
    font-size: 80px;
}

.responsiveImage {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .header {
        font-size: 30px;
        /* Reduce font size for header */
    }

    .description {
        font-size: 18px;
        /* Reduce font size for description */
    }

    .intro {
        font-size: 60px;
        /* Reduce font size for intro */
    }

    .responsiveImage {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 25px;
        /* Further reduce font size for header */
    }

    .description {
        font-size: 16px;
        /* Further reduce font size for description */
    }

    .intro {
        font-size: 40px;
        /* Further reduce font size for intro */
    }

    .responsiveImage {
        max-width: 60%;
    }
}