.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
background-color: rgba(255, 255, 255, 0.2);
    /* Adjust the opacity (fourth value) as needed */
    backdrop-filter: blur(10px);
    /* Adjust the blur radius as needed */
    opacity: 0.4;
    z-index: 1;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}
