.main {
    padding: 20px;
    text-align: center;
}

.spacer {
    margin-bottom: 30px;
    font-size: 5em;
    font-weight: bold;
}

.testimonialContainer {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.testimonialTrack {
    display: flex;
    width: calc(100% * 1); // Width for twice the number of images
    animation: scroll 20s linear infinite;
}

.testimonial {
    flex: 0 0 40%; // Ensures each image takes exactly 1/16th of the track width
    margin-left: 30px; // Ensures no extra spacing is added
    padding: 0; // Ensures no extra spacing is added
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%); 
    }
}

@media (max-width: 360px) {
    .spacer{
        font-size: 40px;
    }
    .testimonialTrack {
        display: flex;
        width: calc(100% * 3); // Width for twice the number of images
        animation: scroll 5s linear infinite;
    } 
}
