/* page.module.scss */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    height: 45vh;
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.imageContainer {
    position: relative;
    padding-top: 100%;
    /* 1:1 Aspect Ratio */
    border-radius: 1vw;
    overflow: hidden;
}

.imageContainer img {
    object-fit: cover;
}